<section>
<div class="grid grid-cols-2 gap-0.5 lg:mt-8 md:grid-cols-6 mt-6">
      <div class="flex justify-center col-span-1 px-8">
        <img alt="logo" class="max-h-12" src="/Figma.svg" />
      </div>
      <div class="flex justify-center col-span-1 px-8">
        <img alt="logo" class="max-h-12" src="/Canva.svg" />
      </div>
      <div class="flex justify-center col-span-1 px-8">
        <img alt="logo" class="max-h-12" src="/Stripe.svg" />
      </div>
      <div class="flex justify-center col-span-1 px-8">
        <img alt="logo" class="max-h-12" src="/Gitlab.svg" />
      </div>
      <div class="flex justify-center col-span-1 px-8">
        <img alt="logo" class="max-h-12" src="/Linear.svg" />
      </div>
      <div class="flex justify-center col-span-1 px-8">
        <img alt="logo" class="max-h-12" src="/Gumroad.svg" />
      </div>
    </div>
  </div>
  </section>