<section id="features">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div class="mx-auto max-w-2xl text-center">
      <div>
        <p
          class="text-black font-extrabold lg:text-5xl text-4xl tracking-tighter">
          Great decks resonate.
        </p><p
          class="mt-4 text-lg max-w-xl mx-auto tracking-tight text-slate-500">
          Capture hearts, minds and wallets with laser-focused communications. <i>Here's what it takes.</i>
        </p>
      </div>
    </div>
    <div>
      <div class="mx-auto max-w-7xl pt-12">
        <h2 class="sr-only">Features.</h2><div>
          <div
            class="grid gap-12 grid-cols-1 lg:space-y-0 lg:text-center md:grid-cols-3">
            
            <div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-50 w-50 lg:mx-auto">
                  <img class="" src="./1.jpg" alt="" />
                  <!--
                  <ion-icon
                    aria-label="compass-outline"
                    class="hydrated md h-4 w-4"
                    name="compass-outline"
                    role="img"
                  /> -->
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
                  A singluar purpose.
                </p>
              </div><div class="mt-4 text-slate-500 text-sm">
                Raising? Selling? Convincing?
                Start with the next action you want from your audience to win. 
                Connect it to your reader's need, wants and objections.
                Build your content around those things win hearts, minds and wallets.
              </div>
            </div>


            <div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-50 w-50 lg:mx-auto">
                  <img class="" src="./2.jpg" alt="" />

                  <!--
                  <ion-icon
                    aria-label="color-wand-outline"
                    class="hydrated md h-4 w-4"
                    name="color-wand-outline"
                    role="img"
                  />
                  -->
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
                  A great story.
                </p>
              </div><div class="mt-4 text-slate-500 text-sm">
                Stories are memorable.
                They position your brand, product and propsition in a reader's head.
                It's more than features, or price or product.
                It's the reason your thing exists.
                Do it right, and you create belief before you even get to the hard commercials.

              </div>
            </div>

            <div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-50 w-50 lg:mx-auto">
                  <img class="" src="./3.jpg" alt="" />
                  <!--
                  <ion-icon
                    aria-label="chatbox-ellipses-outline"
                    class="hydrated md h-4 w-4"
                    name="chatbox-ellipses-outline"
                    role="img"
                  /> -->
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
                  Room for a conversation.
                </p>
              </div><div class="mt-4 text-slate-500 text-sm">
                There's a tricky balance between enough and too much.
                Balancing what you're trying to get across with the results that you want is the key. 
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
