
<section>
<div class="bg-cover self-start
bg-[url('./public/hero.jpg')] bg-right-bottom h-screen self-start">

  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24"
    >
    <div>
      <div class="text-center max-w-4xl mx-auto">
        <p class="text-black mt-8 font-extrabold lg:text-8xl text-5xl tracking-tight">
          You’ve got 60 seconds to impress. 
        </p>
        <p class="text-black mt-8 font-extrabold lg:text-5xl text-3xl tracking-tight">
          Think you can make the cut?
        </p>        
        <p class="text-slate-500 lg:text-xl max-w-2xl mt-4 mx-auto text-base">
          A great deck is your launchpad to aceing your sales, deals and funding. Is yours getting you the conversations you <i>really</i> want?
        </p>
      </div>
      <div class="flex justify-center gap-3 mt-10 flex-col sm:flex-row">
        <!--<
        a
          class="items-center justify-center font-medium rounded-xl focus-visible:outline-black focus:outline-none inline-flex duration-200 text-black lg:w-auto px-6 py-3 text-center text-black/80 w-full border"
          href="https://XXX">GitHub</a
        >
      -->
        <a
          class="items-center justify-center font-medium rounded-xl focus-visible:outline-black focus:outline-none inline-flex bg-black border-2 border-black duration-200 focus-visible:ring-black hover:bg-transparent hover:border-black hover:text-black lg:w-auto px-6 py-3 text-center text-white w-half"
          href="https://XXX"
          >Get a review &nbsp; &rarr;
        </a>
      </div>
    </div>  

    </div>

  </div>
    
</section>
