<!-- LOGOS




<!--
      <div class="mx-auto w-full items-center bg-teal-100 p-6">
      <div class="text-center max-w-4xl mx-auto text-slate-300 font-extrabold lg:text-1xl text-2xl tracking-tight">
          Trusted by  
    </div>

  <div class="grid grid-cols-2 gap-0.5 lg:mt-8 md:grid-cols-6 mt-6">
      <div class="flex justify-center col-span-1 px-8">
        <img alt="logo" class="max-h-12" src="/Figma.svg" />
      </div>
      <div class="flex justify-center col-span-1 px-8">
        <img alt="logo" class="max-h-12" src="/Canva.svg" />
      </div>
      <div class="flex justify-center col-span-1 px-8">
        <img alt="logo" class="max-h-12" src="/Stripe.svg" />
      </div>
      <div class="flex justify-center col-span-1 px-8">
        <img alt="logo" class="max-h-12" src="/Gitlab.svg" />
      </div>
      <div class="flex justify-center col-span-1 px-8">
        <img alt="logo" class="max-h-12" src="/Linear.svg" />
      </div>
      <div class="flex justify-center col-span-1 px-8">
        <img alt="logo" class="max-h-12" src="/Gumroad.svg" />
      </div>
    </div>
-->


-->

     <!--
      <dl
        class="lg:gap-x-8 lg:grid-cols-3 max-w-4xl mt-8 mx-auto sm:gap-x-6 sm:gap-y-12 sm:grid sm:grid-cols-2 sm:space-y-0 space-y-6 text-center text-sm items-start">
        <div class="text-slate-500">
          <strong class="text-slate-700"
            >Astro, Tailwind CSS and Alpine.js</strong
          > ━ This are the popular technologies behind Astrosaas.
        </div>
        <div class="text-slate-500">
          <strong class="text-slate-700">Includes 6 pages</strong> ━ You will find
          this landing, faq, terms,privacy,sign up and sign in pages.
        </div>
        <div class="text-slate-500">
          <strong class="text-slate-700">Different section</strong> ━ The starter
          includes different feature sections, a pricing table, testmionial, CTA
          and full forms. more.
        </div>
      </dl>
    -->

    ROW BY ROW BREAKDOWN

    

<!-- Row --> 
  <div class="mx-auto grid grid-cols-2 gap-24 max-w-4xl">
    
    <div class="relative w-full mx-auto max-w-5xl items-center py-12 pb-12">
      <div class="bg-slate-100 p-8 rounded-3xl" style="">
        <img
          alt=""
          class="relative w-full border lg:rounded-2xl object-cover rounded shadow-2xl"
          src="https://linear.app/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhero%404x.15e3a396.jpg&w=3840&q=75"
        />
      </div>
    </div>

      <div class="relative w-full mx-auto max-w-5xl items-center py-12 pb-12">
        <span class="text-black font-bold lg:text-2xl text-3xl tracking-tighter">
          Great decks tell a story. <br>
        </span>
        <span class="text-slate-500 lg:text-m max-w-2xl mt-4 mx-auto text-base">
          Stories are memorable.<br>
          They position your brand, product and propsition in a reader's head.<br>
          It's more than features, or price or product. <br>
          It's the reason your thing exists. <br>
          Do it right, and you create belief before you even get to the hard commercials.
          <a class="items-center justify-center font-medium rounded-xl focus-visible:outline-black focus:outline-none inline-flex duration-200 text-black lg:w-auto px-6 py-3 text-center text-black/80 w-full border"
          href="https://XXX">Book it</a
        >

        </span>         
      </div>
  </div>

<!-- Row --> 
  <div class="mx-auto grid grid-cols-2 gap-6 max-w-4xl">

      <div class="relative w-full mx-auto max-w-5xl items-center py-12 pb-12">
        <span class="text-black font-bold lg:text-2xl text-3xl tracking-tighter">
          Great decks start with an objective. <br>
        </span>
        <span class="text-slate-500 lg:text-m max-w-2xl mt-4 mx-auto text-base">
          Raising? Selling? Convincing?<br>
          Start with what you want from a deck.<br>
          Connect it to your reader's need, wants and objections.<br>
          Build your content around those things win hearts, minds and wallets.
        </span>         
      </div>

      <div class="relative w-full mx-auto max-w-5xl items-center py-12 pb-12">
      <div class="bg-slate-100 p-8 rounded-3xl" style="">
        <img
          alt=""
          class="relative w-full border lg:rounded-2xl object-cover rounded shadow-2xl"
          src="https://linear.app/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhero%404x.15e3a396.jpg&w=3840&q=75"
        />
      </div>
    </div>

<!-- Row --> 
  <div class="mx-auto grid grid-cols-2 gap-24 max-w-4xl">
    
    <div class="relative w-full mx-auto max-w-5xl items-center py-12 pb-12">
      <div class="bg-slate-100 p-8 rounded-3xl" style="">
        <img
          alt=""
          class="relative w-full border lg:rounded-2xl object-cover rounded shadow-2xl"
          src="https://linear.app/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhero%404x.15e3a396.jpg&w=3840&q=75"
        />
      </div>
    </div>
  </div>

<!-- Row -->   
<div class="relative w-full mx-auto max-w-5xl items-center py-12 pb-12">
        <span class="text-black font-bold lg:text-2xl text-3xl tracking-tighter">
          Great decks answer questions, but leave room for a conversation. <br>
        </span>
        <span class="text-slate-500 lg:text-m max-w-2xl mt-4 mx-auto text-base">
          There's a tricky balance between enough and too much.<br>
          They position your brand, product and propsition in a reader's head.<br>
          It's more than features, or price or product. <br>
          It's the reason your thing exists. <br>
          Do it right, and you create belief before you even get to the hard commercials.
        </span>         
      </div>
