<section id="features">
  <div
    class="mx-auto items-center w-full lg:px-24 md:px-12 items-center px-8 py-24 scroll-mt-12 bg-teal-50">

    <img class="items-center" src="./macbook-mockup.png" alt="" />

    <div class="mx-auto max-w-2xl text-center ">
      <div>
        <p
          class="gradient-text font-extrabold lg:text-5xl text-4xl tracking-tighter">
          1% of decks make it from an inbox to a discussion. 
        </p>
        <p class="text-black lg:text-l max-w-2xl mt-4 mx-auto text-base">
          <span class="lg:block font-bold">Ask yourself, honestly.</span>
          <span class="lg:block"></span>
          <span class="lg:block">Does you value prop stand up?</span>
          <span class="lg:block">Will your story stick?</span>
          <span class="lg:block">Will your prospects buy into it?</span>
          <span class="lg:block">Is your call to action convincing? Exciting? Inspiring?</span>
          <span class="lg:block font-bold">No? Maybe it's time for a tune-up.</span>
          
        </p>
      </div>
    </div>
    
</section>

<!-- Row --> 
  <div class="max-w-6xl mx-auto grid grid-cols-2 gap-24">
    
    <div class="relative w-full mx-auto items-center py-12 pb-12">
            <img class="" src="./macbook-mockup.png" alt="" />
    </div>

      <div class="relative w-full mx-auto max-w-8xl text-left py-12 pb-12">
        <span class="gradient-text font-extrabold lg:text-5xl text-4xl tracking-tighter">
          1% of decks make it from an inbox to a discussion. <br>
        </span>
        <span class="text-slate-500 lg:text-m max-w-2xl mt-4 mb-5 mx-auto text-base">
          A 15 minute private, personalised video audit detailing flow, storytelling, what you've missed, and how to fix it.</span>
          
  <ul class="w-full text-slate-500 py-5">

    <li class="mb-1">
      <div href="#" class="w-fill flex p-3 bg-gray-100 hover:bg-gray-200 rounded-lg">
        <ion-icon
                    aria-label="color-wand-outline"
                    class="hydrated md h-4 w-4"
                    name="color-wand-outline"
                    role="img"
                  />
        <span class="ml-2"><b>Proposition</b> Is you message clear? Are you landing it, right from the start?</span>
      </div>
    </li>

    <li class="mb-1">
      <div href="#" class="flex w-fill flex p-3 bg-gray-100 hover:bg-gray-200 rounded-lg">
        <ion-icon
                    aria-label="color-wand-outline"
                    class="hydrated md h-4 w-4"
                    name="color-wand-outline"
                    role="img"
                  />
        <span class="ml-2"><b>Story</b> Is your story clear? Compelling? Memorable? Exciting?</span>
      </div>
    </li>

    <li class="mb-1">
      <div href="#" class="w-fill flex p-3 bg-gray-100 hover:bg-gray-200 rounded-lg">
        <ion-icon
                    aria-label="color-wand-outline"
                    class="hydrated md h-4 w-4"
                    name="color-wand-outline"
                    role="img"
                  />
        <span class="ml-2"><b>Flow</b> Are you building buy-in and trust, slide-by-slide?</span>
      </div>
    </li>

  </ul>

        </span>         
      </div>
  </div>
  <div class="flex justify-center gap-3 flex-col sm:flex-row">
    <a class="font-medium rounded-xl focus-visible:outline-black focus:outline-none inline-flex bg-black border-2 border-black duration-200 focus-visible:ring-black hover:bg-transparent hover:border-black hover:text-black lg:w-auto px-6 py-3 text-center text-white w-half"
            href="https://XXX">Let's go!</a>
  </div>
    </div>

</section>